header {
    width: 100%;
    background: rgb(32, 32, 186);
    color: azure;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    max-height: 100px;

}

ul,li {
    list-style: none;
    display: flex;
    padding: 5px;
    margin-left: 20px ;
    margin-right: 20px ;
}

button {
    border: none;
    background: rgb(232, 49, 49);
    width: 100px;
    height: 50px;
    color: rgb(215, 215, 215);
    margin-left: 20px ;
    margin-right: 20px ;
}

a{
    color: aliceblue;
}